# U.S. Educational Finances 
### In this project a .csv file with U.S educational revenue and expenditure will be investigated using python fundamentals. The goal is to analyze the relationship between revenue and expenditure across U.S states. With this information further analysis can be done to gain insight about how revenue and expenditure effects public grade school education

#### In this project the following will be performed:
- clean the data to only use years >=2000 
- create dictionary with states as keys and revenue/expenditure info as values 
- find the average and median total expenditure and revenue 
    - compare and analyze the results 
- find the state with the highest total expenditure between 2000-2016, the year, and enrollment and revenue for that year
- find the state with the highest total revenue between 2000-2016, the year, and enrollment and expenditure for that year
- reflect on the findings of the last two bullet points 
- find the state and year with the highest enrollment and compare it's revenue and expenditure

In [2]:
# import csv file 
import csv
import statistics as stats

In [3]:
# create empty lists for attributes in states.csv
state = []
year = []
enroll = []
total_revenue = []
federal_revenue = []
state_revenue = []
local_revenue = []
total_expenditure = []
instruction_expenditure = []
support_services_expenditure = []
other_expenditure = []
capital_outlay_expenditure = []

In [4]:
#load the data 
def load_data(lst, csv_file, column_name):
    #open csv file 
    with open(csv_file) as csv_info:
        csv_dict = csv.DictReader(csv_info)
        #loop through each row 
        for row in csv_dict:
            # include years >=2000
            if float(row["YEAR"]) >= 2000:
                #append data from each row to a list 
                lst.append(row[column_name])
        return lst

In [5]:
load_data(state, "states.csv", "STATE")
load_data(year, "states.csv", "YEAR")
load_data(enroll, "states.csv", "ENROLL")
load_data(total_revenue, "states.csv", "TOTAL_REVENUE")
load_data(federal_revenue, "states.csv", "FEDERAL_REVENUE")
load_data(state_revenue, "states.csv", "STATE_REVENUE")
load_data(local_revenue, "states.csv", "LOCAL_REVENUE")
load_data(total_expenditure, "states.csv", "TOTAL_EXPENDITURE")
load_data(instruction_expenditure, "states.csv", "INSTRUCTION_EXPENDITURE")
load_data(support_services_expenditure, "states.csv", "SUPPORT_SERVICES_EXPENDITURE")
load_data(other_expenditure, "states.csv", "OTHER_EXPENDITURE")
load_data(capital_outlay_expenditure, "states.csv", "CAPITAL_OUTLAY_EXPENDITURE")

['663903',
 '184546',
 '768425',
 '146666',
 '5849441',
 '782711',
 '369278',
 '79176',
 '87549',
 '2792662',
 '1520834',
 '115972',
 '153472',
 '2467748',
 '841171',
 '353405',
 '206141',
 '515109',
 '414669',
 '143112',
 '760810',
 '533702',
 '1866666',
 '901829',
 '421075',
 '756817',
 '57419',
 '243866',
 '428541',
 '130011',
 '1320024',
 '255735',
 '3266115',
 '1385226',
 '81274',
 '1378528',
 '286261',
 '391189',
 '1851099',
 '30587',
 '716110',
 '144296',
 '743326',
 '4719976',
 '270172',
 '39112',
 '1011384',
 '1048059',
 '129872',
 '958597',
 '70579',
 '540284',
 '150279',
 '1035457',
 '235346',
 '6755895',
 '672080',
 '385785',
 '132922',
 '184106',
 '2868679',
 '1620496',
 '112944',
 '124442',
 '2637635',
 '832585',
 '405205',
 '209716',
 '156395',
 '409235',
 '149225',
 '813068',
 '944333',
 '2007947',
 '964810',
 '282202',
 '715516',
 '73732',
 '278832',
 '575873',
 '166814',
 '1466889',
 '308741',
 '4579196',
 '1307270',
 '57760',
 '1712711',
 '322947',
 '419442',
 '1869506',
 '27392',
 '843817',
 '143663',
 '868777',
 '4898465',
 '311553',
 '62053',
 '1113113',
 '1028063',
 '131916',
 '943973',
 '67913',
 '496146',
 '215409',
 '966925',
 '239177',
 '6998522',
 '779315',
 '542302',
 '154186',
 '218894',
 '2999914',
 '1659378',
 '42115',
 '167918',
 '2897117',
 '875596',
 '459382',
 '231630',
 '146218',
 '443002',
 '140092',
 '941083',
 '1154305',
 '2353031',
 '1283085',
 '299474',
 '828732',
 '70448',
 '365430',
 '604874',
 '186830',
 '1406121',
 '373224',
 '4809068',
 '1133555',
 '57468',
 '2128307',
 '341768',
 '557041',
 '2252267',
 '27003',
 '956612',
 '149374',
 '762594',
 '5399775',
 '426219',
 '65657',
 '1127185',
 '1037135',
 '194544',
 '863118',
 '92550',
 '432279',
 '247005',
 '864642',
 '247245',
 '7341541',
 '821129',
 '539870',
 '171247',
 '194278',
 '2924134',
 '1705482',
 '63049',
 '185850',
 '2727980',
 '859389',
 '459042',
 '235653',
 '127011',
 '409705',
 '137716',
 '674852',
 '424368',
 '2453532',
 '1204124',
 '267397',
 '767068',
 '75983',
 '329746',
 '576610',
 '214807',
 '1626453',
 '399406',
 '4489672',
 '940500',
 '81014',
 '2324140',
 '307213',
 '606048',
 '1848552',
 '31360',
 '865462',
 '122247',
 '635950',
 '4764154',
 '469251',
 '46411',
 '1069375',
 '1189781',
 '166233',
 '733156',
 '110312',
 '449619',
 '255826',
 '829146',
 '362154',
 '9242549',
 '859189',
 '587992',
 '158252',
 '128227',
 '3365514',
 '1767711',
 '116340',
 '183197',
 '2342761',
 '913045',
 '533020',
 '286696',
 '499029',
 '372374',
 '189418',
 '581423',
 '570871',
 '2127866',
 '1039748',
 '322751',
 '739399',
 '64150',
 '296377',
 '574726',
 '199297',
 '1970698',
 '443894',
 '3867760',
 '943558',
 '97116',
 '2139831',
 '320142',
 '486745',
 '1941824',
 '28171',
 '828530',
 '105677',
 '574810',
 '4812152',
 '479463',
 '77287',
 '1125646',
 '1217468',
 '181816',
 '540870',
 '126574',
 '511944',
 '268700',
 '861286',
 '393713',
 '10223657',
 '918985',
 '496778',
 '172879',
 '134417',
 '3803764',
 '1794894',
 '61471',
 '181622',
 '2137191',
 '982893',
 '538313',
 '308365',
 '741433',
 '350658',
 '128520',
 '947970',
 '803602',
 '1937442',
 '937357',
 '281713',
 '708726',
 '59998',
 '264339',
 '584219',
 '163780',
 '2179605',
 '466166',
 '3342778',
 '791873',
 '88341',
 '2046199',
 '397131',
 '364717',
 '1914407',
 '20070',
 '938347',
 '124727',
 '483208',
 '5592231',
 '467720',
 '63280',
 '1180309',
 '1292543',
 '137026',
 '472358',
 '158464',
 '666550',
 '236931',
 '1143569',
 '449548',
 '10047331',
 '1024225',
 '603391',
 '227679',
 '126807',
 '4860930',
 '1930006',
 '74988',
 '189807',
 '2021097',
 '985099',
 '592789',
 '358866',
 '686124',
 '454736',
 '115871',
 '1037525',
 '904979',
 '1842154',
 '1063443',
 '413302',
 '758141',
 '97873',
 '280954',
 '760380',
 '201565',
 '2033738',
 '385590',
 '3970683',
 '1052527',
 '92963',
 '2177340',
 '436567',
 '319231',
 '2009924',
 '28706',
 '1128702',
 '86227',
 '573015',
 '6170544',
 '504723',
 '59192',
 '1298749',
 '1422488',
 '187462',
 '545716',
 '168214',
 '687816',
 '257723',
 '1436673',
 '470562',
 '10058842',
 '1083411',
 '913165',
 '245757',
 '167103',
 '5992654',
 '2271958',
 '138044',
 '163583',
 '2082140',
 '887670',
 '647628',
 '427238',
 '755710',
 '618284',
 '91361',
 '1170502',
 '951016',
 '1629007',
 '1074228',
 '379581',
 '925265',
 '100592',
 '378827',
 '731227',
 '208008',
 '1997462',
 '396529',
 '4216048',
 '1166854',
 '90844',
 '2595974',
 '502002',
 '293730',
 '2533079',
 '20234',
 '1290372',
 '105370',
 '593354',
 '6654163',
 '579188',
 '70359',
 '1473546',
 '1624443',
 '228873',
 '467948',
 '246698',
 '816799',
 '307512',
 '1571620',
 '463449',
 '9388155',
 '1157579',
 '826090',
 '241390',
 '202768',
 '5980134',
 '2703375',
 '94455',
 '93431',
 '2559210',
 '941950',
 '672361',
 '428160',
 '760566',
 '787702',
 '113571',
 '1358068',
 '655884',
 '1375044',
 '1136550',
 '377201',
 '1070552',
 '141860',
 '444442',
 '1058467',
 '163893',
 '1625458',
 '569550',
 '4805621',
 '1728313',
 '88292',
 '2568654',
 '459000',
 '621540',
 '2537699',
 '28023',
 '1179283',
 '114678',
 '735501',
 '8133118',
 '929772',
 '83821',
 '1528769',
 '1797341',
 '249687',
 '666877',
 '309892',
 '924956',
 '303165',
 '1312659',
 '409763',
 '8881265',
 '1035058',
 '763075',
 '254460',
 '66023',
 '4533913',
 '2712073',
 '68584',
 '111190',
 '2884993',
 '899628',
 '672339',
 '958961',
 '720114',
 '824390',
 '108016',
 '961161',
 '589413',
 '1280455',
 '1187008',
 '493773',
 '1120105',
 '158151',
 '488293',
 '633545',
 '112359',
 '1499241',
 '784529',
 '5463718',
 '1647148',
 '95977',
 '2552105',
 '568720',
 '803096',
 '2411908',
 '24161',
 '1318784',
 '154459',
 '652210',
 '9297597',
 '821593',
 '64170',
 '1418914',
 '1818982',
 '157049',
 '648807',
 '372507',
 '729720',
 '229874',
 '713810',
 '595456',
 '7150441',
 '1011988',
 '823081',
 '192826',
 '297363',
 '2944085',
 '1814143',
 '72917',
 '135181',
 '1944264',
 '929416',
 '811476',
 '1182167',
 '747498',
 '788979',
 '157510',
 '1107922',
 '807802',
 '1201729',
 '949938',
 '421984',
 '926566',
 '110195',
 '371348',
 '381094',
 '131261',
 '1154089',
 '634137',
 '6125749',
 '1192652',
 '142873',
 '2451038',
 '471937',
 '573818',
 '2208448',
 '40673',
 '1203253',
 '146273',
 '627390',
 '8055742',
 '786272',
 '65751',
 '1127484',
 '1516372',
 '191662',
 '617744',
 '340678',
 '564183',
 '180137',
 '741124',
 '605857',
 '6523770',
 '827354',
 '516116',
 '182497',
 '326332',
 '2217069',
 '1368395',
 '85476',
 '83524',
 '1884866',
 '843671',
 '861361',
 '851777',
 '733357',
 '809639',
 '164850',
 '989839',
 '817228',
 '1273466',
 '1016875',
 '368906',
 '849819',
 '103728',
 '349683',
 '323746',
 '206241',
 '917304',
 '616478',
 '4653802',
 '980517',
 '124967',
 '2494681',
 '510428',
 '461979',
 '2189151',
 '43726',
 '1016126',
 '199636',
 '661195',
 '6556210',
 '592949',
 '63655',
 '1075067',
 '1467334',
 '269242',
 '541918',
 '234408',
 '580949',
 '145219',
 '699033',
 '612420',
 '6736656',
 '697434',
 '637389',
 '149584',
 '283890',
 '1837264',
 '1566020',
 '124096',
 '69239',
 '2032447',
 '894450',
 '900591',
 '662722',
 '764062',
 '777379',
 '131394',
 '1139120',
 '1159931',
 '1200582',
 '1034162',
 '329375',
 '891474',
 '117001',
 '374671',
 '321145',
 '160056',
 '940577',
 '615427',
 '4094920',
 '728580',
 '160904',
 '2416140',
 '496119',
 '448562',
 '1735626',
 '33633',
 '869025',
 '172398',
 '671532',
 '5538370',
 '666528',
 '45788',
 '1078796',
 '1552074',
 '245082',
 '449246',
 '213245',
 '643522',
 '248505',
 '558466',
 '533975',
 '6160059',
 '758041',
 '487318',
 '157935',
 '375676',
 '1411455',
 '1632844',
 '146656',
 '62882',
 '1942608',
 '862576',
 '783793',
 '616590',
 '729064',
 '644212',
 '70345',
 '955586',
 '1283156',
 '962506',
 '1016760',
 '285801',
 '833040',
 '111496',
 '298231',
 '222161',
 '72588',
 '933676',
 '514077',
 '3982327',
 '653058',
 '224615',
 '1998557',
 '557341',
 '343353',
 '1501024',
 '35089',
 '853410',
 '179586',
 '564756',
 '5472152',
 '698249',
 '55825',
 '1089417',
 '1443002',
 '284685',
 '521352',
 '213920',
 '580934',
 '269107',
 '678228',
 '424314',
 '6124103',
 '932776',
 '447290',
 '171618',
 '399565',
 '1468023',
 '1642099',
 '173200',
 '91323',
 '1999969',
 '889924',
 '801317',
 '813093',
 '620745',
 '706668',
 '66571',
 '1131199',
 '1028761',
 '856907',
 '1069928',
 '316494',
 '919482',
 '121753',
 '307828',
 '161354',
 '87603',
 '895858',
 '562323',
 '4060304',
 '609013',
 '239992',
 '1546152',
 '687788',
 '311077',
 '1566997',
 '37897',
 '862750',
 '146035',
 '549104',
 '5766846',
 '490911',
 '56780',
 '1041633',
 '1525815',
 '286099',
 '767074',
 '287977',
 '510091',
 '281914',
 '497662',
 '511556',
 '6373893',
 '923360',
 '530491',
 '103129',
 '381902',
 '1681665',
 '1879063',
 '161801',
 '75680',
 '2056951',
 '948358',
 '842674',
 '963767',
 '600859',
 '780338',
 '55686',
 '1050651',
 '1034539',
 '967476',
 '1328863',
 '407791',
 '869078',
 '160885',
 '449287',
 '205794',
 '125475',
 '1290946',
 '587243',
 '4536014',
 '698847',
 '303053',
 '1750785',
 '663768',
 '477516',
 '1663209',
 '50889',
 '928112',
 '222592',
 '553396',
 '6765205',
 '606254',
 '58856',
 '1086722',
 '1601069',
 '232738',
 '894823',
 '409425',
 '610743',
 '255041',
 '528694',
 '518181',
 '6786142',
 '880204',
 '620905',
 '104579',
 '315283',
 '1983363',
 '1834767',
 '216650',
 '74932',
 '2015647',
 '986746',
 '889597',
 '964098',
 '736079',
 '577609',
 '95951',
 '1055665',
 '945525',
 '1062838',
 '1743709',
 '335067',
 '890008',
 '179414',
 '641968',
 '224494',
 '137180',
 '1414861',
 '551143',
 '4656189',
 '912783',
 '412047',
 '1854842',
 '641979',
 '686104',
 '1793713',
 '45441',
 '1073334',
 '192504',
 '553997',
 '8332612',
 '707988',
 '42911',
 '1161323',
 '2204059',
 '181392',
 '1082849',
 '454302']

Now that the data is loaded and includes only years greater than or equal to 2000 the data is ready to be analyzed. First, a unique key and it's information as the values.

In [7]:
def create_dictionary (state, year, enroll, total_revenue, federal_revenue, state_revenue, local_revenue, total_expenditure, instruction_expenditure, support_services_expenditure, other_expenditure, capital_outlay_expenditure):
    #create unique column the size of the list
    length = len(state)
    length_list = list(range(1, length+1))   
    #empty dictionary data will be inputted into 
    info = {}
    #fill in the dictionary
    for i in range(length):
        info[length_list[i]] = ({"state": state[i],
                          "year": year[i],
                          "enroll": enroll[i],
                          "total_revenue": total_revenue[i],
                          "federal_revenue": federal_revenue[i],
                          "state_revenue": state_revenue[i],
                          "local_revenue": local_revenue[i],
                          "total_expenditure": total_expenditure[i],
                          "instruction_expenditure": instruction_expenditure[i],
                          "support_services_expenditure": support_services_expenditure[i],
                          "other_expenditure": other_expenditure[i],
                          "capital_outlay_expenditure": capital_outlay_expenditure[i]})
    
    return info
info = create_dictionary(state, year, enroll, total_revenue, federal_revenue, state_revenue, local_revenue, total_expenditure, instruction_expenditure, support_services_expenditure, other_expenditure, capital_outlay_expenditure)
#print(info)

Now that we have a dictionary with all of our data, we can start to manipulate it in different ways. First, we are going to create a new dictionary with states as the unique key and all of its corresponding information from 2000-2016 as its values.

In [9]:
#organizing by state 

def group_by_state(info):
    info_by_state = {}
    for i in info:
        current_state = info[i]["state"]
        current_info = info[i]
        if current_state not in info_by_state:
            info_by_state[current_state] = [current_info]
        else:
            info_by_state[current_state].append([current_info])
    return info_by_state
info_by_state = group_by_state(info)
#print(info_by_state)

In [117]:
#unique states 
def unique_states(state):
    unique_state = []
    count = 0 
    for state_i in state:
        if state_i not in unique_state:
            unique_state.append(state_i)
    for state in unique_state:
        count += 1
    return unique_state, count
unique_states = unique_states(state)
print(unique_states)

(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'], 51)

Here we find the average and median revenue and expenditure amongst all states between the years 2000-2016. Finding and comparing the average and the median will give us insight on possible outliers. We will also calculate the diffrence between the average and median.

In [82]:
#find average revenue and expenditure and median of all states between 2000-2016 
def avg_revenue_expenditure(total_revenue, total_expenditure):
    overall_total_revenue = 0 
    overall_total_expenditure = 0
    length = len(total_revenue)
    #loop through each revenue and expenditure in the list 
    for i in range(length):
        #add each revenue and expenditure to overall total revenue and overall total expenditure, respectively 
        overall_total_revenue += float(total_revenue[i])
        overall_total_expenditure += float(total_expenditure[i])
    #calculate average 
    avg_revenue = round((overall_total_revenue / length), 2) 
    avg_expenditure = round((overall_total_expenditure / length), 2) 
    #use stats to find the median revenue and expenditure 
    median_revenue = float(stats.median(total_revenue))
    median_expenditure = float(stats.median(total_expenditure))
    #calculate difference between average and median 
    difference_revenue = round(avg_revenue - median_revenue)
    difference_expenditure = round(avg_expenditure - median_expenditure)
    print("The average revenue of all states between 2000-2016 is " + str("{:,}".format(avg_revenue)) + " dollars.")
    print("The median revenue is " + str("{:,}".format(median_revenue)) + " dollars.")
    print("The difference between the average and median revenue is " + str("{:,}".format(difference_revenue)) + " dollars.")
    print("\n")
    print("The average expenditure of all states between 2000-2016 is " + str("{:,}".format(avg_expenditure)) + " dollars.")
    print("The median expenditure is " + str("{:,}".format(median_expenditure)) + " dollars.")
    print("The difference between the average and median expenditure is " + str("{:,}".format(difference_expenditure)) + " dollars.")
  
avg_revenue_expenditure(total_revenue, total_expenditure)

The average revenue of all states between 2000-2016 is 10,735,191.28 dollars.
The median revenue is 2,865,058.0 dollars.
The difference between the average and median revenue is 7,870,133 dollars.


The average expenditure of all states between 2000-2016 is 10,855,208.2 dollars.
The median expenditure is 28,809,725.0 dollars.
The difference between the average and median expenditure is -17,954,517 dollars.

From our calculations above we can infer the following:

- We can suspect to find outliers for both revenue and expenditure since the average and median have a significant difference 
    - This reveals that the median is most likely more accurate than the average 
    - It is notebale that we should expect a much larger outlier in expenditure 
- While analyzing the average and median total revenue we can observe that the median school income is about 2.8 million dollars which is 7.8 million dollars less than the average revenue at 10.7 million dollars 
- While analyzing the average and median total expenditure we can observe that the median school is spending 28.8 million dollars in funds which is 17.9 million dollars more than the average expenditure at 10.8 million dollars. 
- When comparing these two results we can suspect that schools are using a significant more about of funds than their income

In [96]:
class maximum:
    def __init__(detail, info):
        detail.info = info
        detail.state = "Arizona"
        detail.max = 0
        detail.temp = 0 #revenue/expenditure placeholder
        detail.temp2 = 0 
        detail.year = 2000
        detail.enrollment = 0

    def max_expenditure(detail):
        for i in detail.info:
            if float(detail.info[i]["total_expenditure"]) > detail.max:
                detail.state = detail.info[i]["state"]
                detail.max = float(detail.info[i]["total_expenditure"])
                detail.temp = float(detail.info[i]["total_revenue"])
                detail.year = detail.info[i]["year"]
                detail.enrollment = float(detail.info[i]["enroll"])
        
        print("Highest total expenditure: " + str("{:,}".format(detail.max)) + " dollars")
        print("State: " + detail.state)
        print("Year: " + detail.year)
        print("Enrollment: " + str("{:,}".format(detail.enrollment)))
        print("Total revenue: " + str("{:,}".format(detail.temp)) + " dollars")
        
    def max_revenue(detail):
        for i in detail.info:
            if float(detail.info[i]["total_revenue"]) > detail.max:
                detail.state = detail.info[i]["state"]
                detail.max = float(detial.info[i]["total_revenue"])
                detail.temp = float(detail.info[i]["total_expenditure"])
                detail.year = detail.info[i]["year"]
                detail.enrollment = float(detail.info[i]["enroll"])
        print("Highest total revenue: " + str("{:,}".format(detail.max)) + " dollars")
        print("State: " + detail.state)
        print("Year: " + detail.year)
        print("Enrollment: " + str("{:,}".format(detail.enrollment)))
        print("Total expenditure: " + str("{:,}".format(detail.temp)) + " dollars")

    def max_enroll(detail):
        for i in detail.info:
            if float(detail.info[i]["enroll"]) > detail.enrollment:
                detail.state = detail.info[i]["state"]
                detail.enrollment = float(detail.info[i]["enroll"])
                detail.temp = float(detail.info[i]["total_expenditure"])
                detail.temp2 = float(detail.info[i]["total_revenue"])
                detail.year = detail.info[i]["year"]
        print("Highest enrollment: " + str("{:,}".format(detail.enrollment)))
        print("State: " + detail.state)
        print("Year: " + detail.year)
        print("Total revenue: " + str("{:,}".format(detail.temp2)) + " dollars")
        print("Total expenditure: " + str("{:,}".format(detail.temp)) + " dollars")

    def min_enroll(detail):
        min_enroll = float("inf")
        for i in detail.info:
            if float(detail.info[i]["enroll"]) < min_enroll:
                detail.state = detail.info[i]["state"]
                min_enroll = float(detail.info[i]["enroll"])
                detail.temp = float(detail.info[i]["total_expenditure"])
                detail.temp2 = float(detail.info[i]["total_revenue"])
                detail.year = detail.info[i]["year"]   
        print("Lowest enrollment: " + str("{:,}".format(min_enroll)))
        print("State: " + detail.state)
        print("Year: " + detail.year)
        print("Total revenue: " + str("{:,}".format(detail.temp2)) + " dollars")
        print("Total expenditure: " + str("{:,}".format(detail.temp)) + " dollars")

In [99]:
thingForMaxExpenditure = maximum(info)
#thingForMaxExpenditure.max_expenditure()
#thingForMaxExpenditure.max_revenue()
thingForMaxExpenditure.max_enroll()
thingForMaxExpenditure.min_enroll()

Highest enrollment: 6,307,022.0
State: California
Year: 2005
Total revenue: 62,171,797.0 dollars
Total expenditure: 66,196,072.0 dollars
Lowest enrollment: 43,866.0
State: District of Columbia
Year: 2010
Total revenue: 1,195,934.0 dollars
Total expenditure: 1,290,048.0 dollars

In [118]:
def max_expenditure(info):
    
    max_expenditure_state = "Arizona"
    max_expenditure = 0 
    revenue = 0 
    year = 2000 
    enrollment = 0 
    for i in info:
        if float(info[i]["total_expenditure"]) > max_expenditure:
            max_expenditure_state = info[i]["state"]
            max_expenditure = float(info[i]["total_expenditure"])
            revenue = float(info[i]["total_revenue"])
            year = info[i]["year"]
            enrollment = float(info[i]["enroll"])
    print("Highest total expenditure: " + str("{:,}".format(max_expenditure)) + " dollars")
    print("State: " + max_expenditure_state)
    print("Year: " + year)
    print("Enrollment: " + str("{:,}".format(enrollment)))
    print("Total revenue: " + str("{:,}".format(revenue)) + " dollars")
    
max_expenditure_info = max_expenditure(info)

Highest total expenditure: 85,320,133.0 dollars
State: California
Year: 2016
Enrollment: 6,217,031.0
Total revenue: 89,217,262.0 dollars

In [119]:
def max_revenue(info):
    
    max_revenue_state = "Arizona"
    max_revenue = 0 
    expenditure = 0 
    year = 2000
    enrollment = 0 
    for i in info:
        if float(info[i]["total_revenue"]) > max_revenue:
            max_revenue_state = info[i]["state"]
            max_revenue = float(info[i]["total_revenue"])
            expenditure = float(info[i]["total_expenditure"])
            year = info[i]["year"]
            enrollment = float(info[i]["enroll"])
    print("Highest total revenue: " + str("{:,}".format(max_revenue)) + " dollars")
    print("State: " + max_revenue_state)
    print("Year: " + year)
    print("Enrollment: " + str("{:,}".format(enrollment)))
    print("Total expenditure: " + str("{:,}".format(expenditure)) + " dollars")

max_revenue_info = max_revenue(info)

Highest total revenue: 89,217,262.0 dollars
State: California
Year: 2016
Enrollment: 6,217,031.0
Total expenditure: 85,320,133.0 dollars

In [120]:
def max_enroll(info):
    
    mex_enroll_state = "Arizona"
    max_enroll = 0 
    expenditure = 0 
    revenue = 0 
    year = 2000
    for i in info:
        if float(info[i]["enroll"]) > max_enroll:
            max_enroll_state = info[i]["state"]
            max_enroll = float(info[i]["enroll"])
            expenditure = float(info[i]["total_expenditure"])
            revenue = float(info[i]["total_revenue"])
            year = info[i]["year"]
    print("Highest enrollment: " + str("{:,}".format(max_enroll)))
    print("State: " + max_enroll_state)
    print("Year: " + year)
    print("Total revenue: " + str("{:,}".format(revenue)) + " dollars")
    print("Total expenditure: " + str("{:,}".format(expenditure)) + " dollars")

max_enroll_info = max_enroll(info)

Highest enrollment: 6,307,022.0
State: California
Year: 2005
Total revenue: 62,171,797.0 dollars
Total expenditure: 66,196,072.0 dollars